In [19]:
import pandas as pd
import numpy as np

In [29]:
data_path = "../../data/wage2015_subsample_inference.csv"
data_read = pd.read_csv(data_path)
data = data_read.describe(include='all').drop(columns=['rownames'])

In [ ]:
Let's have a look at the structure of the data.

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, count to max
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   wage    8 non-null      float64
 1   lwage   8 non-null      float64
 2   sex     8 non-null      float64
 3   shs     8 non-null      float64
 4   hsg     8 non-null      float64
 5   scl     8 non-null      float64
 6   clg     8 non-null      float64
 7   ad      8 non-null      float64
 8   mw      8 non-null      float64
 9   so      8 non-null      float64
 10  we      8 non-null      float64
 11  ne      8 non-null      float64
 12  exp1    8 non-null      float64
 13  exp2    8 non-null      float64
 14  exp3    8 non-null      float64
 15  exp4    8 non-null      float64
 16  occ     8 non-null      float64
 17  occ2    8 non-null      float64
 18  ind     8 non-null      float64
 19  ind2    8 non-null      float64
dtypes: float64(20)
memory usage: 1.3+ KB

In [33]:
data.describe()

,wage,lwage,sex,shs,hsg,scl,clg,ad,mw,so,we,ne,exp1,exp2,exp3,exp4,occ,occ2,ind,ind2
count,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000
mean,723.343895,646.224796,644.117678,643.896772,643.959169,644.090768,644.097911,643.935133,644.087259,644.094158,643.953469,643.955900,657.171256,648.096229,660.866729,717.140870,16716.886694,653.329695,17240.324868,654.252239
std,1797.565320,1819.800788,1820.651445,1820.740689,1820.715478,1820.662318,1820.659432,1820.725189,1820.663736,1820.660948,1820.717781,1820.716798,1815.433220,1819.057991,1814.217072,1798.815494,33829.221854,1816.941513,33522.759236,1816.567835
min,3.021978,0.570385,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,1.000000,370.000000,2.000000
25%,17.788462,2.226355,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.750000,0.812500,0.781250,0.765625,3465.000000,6.475013,5082.500000,8.175255
50%,22.206713,2.963649,0.470710,0.011650,0.121942,0.363072,0.391643,0.068544,0.349038,0.376633,0.108058,0.113883,12.185024,3.509915,8.748434,22.283069,5230.368738,12.335437,5981.299472,13.658447
75%,153.044752,4.060851,1.000000,0.363154,0.572099,1.000000,1.000000,0.507980,1.000000,1.000000,0.558726,0.564574,27.500000,8.830000,36.822471,162.139694,7176.089020,18.250000,7575.000000,19.000000
max,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,100000.000000,5150.000000,100000.000000,5150.000000